<footer class="footer">
  <small>
    Reference: Hartl's ruby on rails tutorial, E4/V5.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://ancalagon.org/">Bored</a></li>
    </ul>
  </nav>
</footer>